
@media (min-width:768px){

    .header{
        padding-bottom: 252px;
        
    }
    .top-header{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 660px;
        margin: 0 auto 110px;
        padding: 50px 0;
    }
    
    .site-name, .log-and-sing{
        margin: 0;
        padding: 0;
    }
    .main-title{
        font-size: 52px;
        margin-bottom: 40px;
    }
    .main-title-description{
        margin-bottom: 40px;
        font-size: 24px;
    }
    .center-header{
        width: 504px;
        margin: 0 auto;
    }
    .card-list{
        flex-direction: row;
        width: 512px;
        margin: 0 auto;
        flex-wrap: wrap;
        margin-bottom: 16px;
    }
    
    .card:nth-child(1){
        order: -1;
    }
    .card:nth-child(3){
        order: -1;
    }
    .section-title{
        padding-bottom: 36px;
    }
    .share-your-holiday{
        padding-bottom: 40px;
    }
}
@media (min-width:1440px){
    .top-header{
        width: 940px;
    }
    .main-title{
        font-size: 52px;
    }
    
    .card-list{
        width: 940px;
    }
    .card{
        width: 220px;
    }
    .person-bio{
        padding: 0 5px;
    }
    .share-your-holiday{
        padding-bottom: 74px;
    }
}