html{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}
body{
    color: #626262;
    font-size: 14px;
}
header{
    margin-bottom: 104px;
}
.navigration a:hover{
    color: #03a9f4;
}
.page-nav{
    padding-top: 78px;
    
}
.navigration{
    text-align: center;
}
.navigration li{
    display: inline-block ;
    text-transform: uppercase;
}
.link_1{
    width: 192px;
}
.link_2{
    width: 208px;
}
.link_3{
    width: 164px;
}
.link_4{
    width: 172px;
}
.navigration a{
    text-decoration: none;
    color: #626262;
}
.lane:not(:last-child){
    padding-bottom: 140px;
}
.container{
    margin: 0 auto;
    width: 900px;
    font-size: 0px;
}
.lines{
    margin-bottom: 140px;
}
.card{
    max-width: 420px;
    display: inline-block;
    margin-right: 60px;
    text-align: left;
}

img{
    margin-bottom: 25px;
}
.card:nth-child(2n){
    margin-right: 0px;
}

.small-description{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #b4ad9e;
    font-size: 14px;
    margin-bottom: 28px;
}

.title{
    font-size: 30px;
    margin-bottom: 40px;
    font-weight: 400;
}
.description{
    font-size: 14px;
    line-height: 24px;
    
}

footer{
    margin: 0 auto;
    padding-top: 57px;
    padding-bottom: 70px;
    text-align: center;
}
.button{
    display: inline-block;
    padding: 16px 0;
    width: 164px;
    background: #ffffff;
    border: 1px solid #626262;
    font-size: 20px;
}
