@media (min-width:320px){
    .log-and-sing{
        margin-bottom: 130px;
    }
    .main-title-description{
        width: 226px;
    }
}
@media (min-width:768px){
    .site-name{
        order: -1;
    }
    body header{
        padding: 0 0 252px;
        
    }
    header .heading{
        width: 504px;
    }
    header .navbar{
        
        width: 660px;
        margin: 0 auto 110px;
        padding: 50px 0;
    }
    .container .see-others{
        padding: 12px 24px;
    }
    .site-name, .log-and-sing{
        margin: 0;
        padding: 0;
    }
    .heading .main-title{
        font-size: 52px;
        margin-bottom: 40px;
    }
    .heading .main-title-description{
        margin-bottom: 40px;
        font-size: 24px;
        width: 100%;
    }
    
    .card-list{
        max-width: 512px;
        margin: 0 auto;
        margin-bottom: 16px;
    }
    
    .item:nth-child(1){
        order: -1;
    }
    .item:nth-child(3){
        order: -1;
    }
    section .section-title{
        margin-bottom: 36px;
    }
    main section{
        padding-bottom: 40px;
    }
}
@media (min-width:1200px){
    header .navbar{
        width: 940px;
    }
    .heading .main-title{
        font-size: 52px;
    }
    
    section .card-list{
        min-width: 940px;
    }
    .item{
        width: 220px;
    }
    .item .person-bio{
        padding: 0 5px;
    }
    section{
        padding-bottom: 74px;
    }
}