header{
    text-align: center;
    background: url(../img/Vector\ Smart\ Object.png)  no-repeat center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 22px 0 134px;
    margin: 0;
}
.navbar{
    margin: 0px auto 40px;
    
}

.log-and-sing-button{
    
    color: #fff;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: bold;
    background: none;
    padding: 10px 16px;
    border: 2px solid transparent;  
}
.log-and-sing-button:hover{
    border: 2px solid #fff;
    border-radius: 14px;
}

.find{
    border-radius: 20px;
    background-color: rgb(255, 78, 80);
    border: none;
    color: #fff;
    font-size: 14px;
    margin: 0 auto;
    padding: 14px 50px;
    font-family: "Montserrat";
    font-weight: bold;
}

.site-name{
    color: #fff;
    font-size: 20px;
    font-family: "Montserrat";
    font-weight: bold;
    width: 100%;
}
.main-title{
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: "Montserrat";
    font-weight: bold;
    letter-spacing: -1px;
}
.main-title-description{
    font-family: "Roboto";
    font-weight: 300;
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
}
section{
    text-align: center;
    padding: 70px 0 58px;
}

.section-title{
    letter-spacing: -0.5px;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 22px;
    color: #333333;
    margin-bottom:  20px;
}
.card-list{
    margin: 0 auto;
}
.card-list .item{
    position: relative;
    text-align: center;
    width: 256px;
    height: 266px;
}

.item-img{
    margin-bottom: 20px;
}
.person-name{
    margin-bottom: 16px;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 14px;
    color: #333333;
}
.person-bio{
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 300;
    color: #666666;
    padding: 0 30px;
}
.item .item-icon{
    width: 34px;
    height: 34px;
    position: absolute;
    top: 84px;
    right: 66px;
    border: 4px solid #fff;
    border-radius: 50%;
}
.item-icon-bg-1{
    background: #ff4e50;
}
.item-icon-bg-2{
    background: #ffa507;
}
.item-icon-bg-3{
    background: #1cd7ad;
}
.item-icon-bg-4{
    background: #4e73db;
}
.see-others{
    color: #ff4e50;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: bold;
    padding: 10px 72px;
    background: none;
    border: 2px solid rgb(255, 78, 80);
    border-radius: 20px;
}
.heading{
    width: 294px;
    margin: 0 auto;
}
  

