.clearfix::after{
    display: table;
    content: '';
    clear: both;
}
body{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 1110px;
    margin: 0 auto;
    
}
main{
    padding: 54px 0;
    
}
section{
    margin-bottom: 104px;
}
section:last-child{
    margin-bottom: 0px;
}
.header{
    padding-top: 38px;
    padding-bottom: 54px;

}
.logo{
    font-size: 30px;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #605e5e;
    text-transform: uppercase;
}
.logo::first-letter{
    font-weight: 900;
    color: #1abc9c;
}
.site-navigation{
    float: right;
    width: 530px;
    padding: 10px 0;
    
}
a{
    text-decoration: none;
}
.link{
    font-size: 14px;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    list-style: none;
    text-align: center;
    width: 86px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.link a{
    text-decoration: none;
    color: #0f0101;
    
}
.link a:hover{
    color: #29c0a3;
}

.section-title{
  
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-align: center;
    color: #515151;
    text-transform: uppercase;
    letter-spacing: -1px;
    position: relative;
    margin-bottom: 120px;
}
.section-title::after{
    content: '';
    width: 164px;
    height: 6px;
    background: #1abc9c;
    position: absolute;
    transform: translateX(-50%);
    bottom: -30px;
    left: 50%;
    
}

.line{
    margin-bottom: 30px;
}
.line:last-child{
    margin-bottom: 0px;
}
img{
    display: block;
}
.item{
    max-width: 254px;
    float: left;
    letter-spacing: -0.02em;
    margin-right: 30px;
}
.item:last-child{
    margin-right: 0px;
}
.item-product{
    color: #fff;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    background: #323232;
    text-transform: uppercase;
    font-size: 18px;
}
.item-name{
    width: 200px;
    float: left;
    text-align: left;
    padding: 8px 0 8px 12px ;
    box-sizing: border-box;
}
.item-price{
    width: 54px;
    text-align: center;
    float: right;
    padding: 8px 0;
    background-color: #8c8c8c;
}
.item:hover .item-name{
    background: #1abc9c;
}
.item:hover .item-price{
    background: #7fd9c7;
}
.item-news{
    max-width: 350px;
    color: #555252;
    font-family: 'Open Sans', sans-serif;
}

.img-news{
    margin-bottom: 12px;
}

h3{
    line-height: 26px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 40px;
    max-width: 304px;
}
h3::after{
    content: '';
    width: 136px;
    height: 2px;
    background: #4ec6ab;
    margin-top: 14px;
    float: left;
}
p{
    font-size: 14px;    
    font-weight: 400;
    margin-bottom: 8px;
    line-height: 26px;
}
.button{
    background: #4ec6ab;
    width: 160px;
    border: none;
    color: #f3fbf9;
    padding: 18px 0;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px; 
}
